azuredeploy.json
{
  "$schema": "http://schemas.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "appName": {
      "type": "string",
      "metadata": {
        "description": "The name of the function app that you wish to create."
      }
    }
  },
  "variables": {
    "functionAppName": "[parameters('appName')]",
    "functionName": "StartStopVMs",
    "hostingPlanName": "[concat(parameters('appName'), '-plan')]",
    "repoURL": "https://github.com/anirudhgarg/functions-logicapps-startstopvms-bytes.git",
    "branch": "master",
    "storageAccountName": "[concat('storage', uniquestring(resourceGroup().id))]",
    "storageAccountid": "[concat(resourceGroup().id,'/providers/','Microsoft.Storage/storageAccounts/', variables('storageAccountName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables('storageAccountName')]",
      "apiVersion": "2015-06-15",
      "location": "[resourceGroup().location]",
      "properties": {
        "accountType": "Standard_LRS"
      }
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2015-04-01",
      "name": "[variables('hostingPlanName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "name": "[variables('hostingPlanName')]",
        "computeMode": "Dynamic",
        "sku": "Dynamic"
      }
    },
    {
      "apiVersion": "2015-04-01",
      "type": "Microsoft.Web/sites",
      "name": "[variables('functionAppName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "kind": "functionapp",
      "properties": {
        "name": "[variables('functionAppName')]",
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "hostingEnvironment": "",
        "clientAffinityEnabled": false,
        "siteConfig": {
          "appSettings": [
            {
              "name": "AzureWebJobsDashboard",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "AzureWebJobsStorage",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "WEBSITE_CONTENTSHARE",
              "value": "[toLower(variables('functionAppName'))]"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~2"
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
      ],
      "resources": [
        {
          "apiVersion": "2015-08-01",
          "name": "web",
          "type": "sourcecontrols",
          "dependsOn": [
            "[resourceId('Microsoft.Web/Sites', variables('functionAppName'))]"
          ],
          "properties": {
            "RepoUrl": "[variables('repoURL')]",
            "branch": "[variables('branch')]",
            "IsManualIntegration": true
          }
        }
      ]
    },
    {
      "comments": "",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('appName')]",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "tags": {},
      "scale": null,
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Schedule_of_when_you_want_the_VM's_to_be_started_(Required)": {
              "recurrence": {
                "frequency": "Month",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Condition": {
              "actions": {},
              "runAfter": {
                "Function_Body_(Do_not_edit)": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Function Body",
                      "value": "{\"mode\":\"start\", \"subscriptionId\":\"@{variables('Subscription Id')}\", \"resourceGroupName\":\"@{variables('Resource Group Name')}\"}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Resource Group Name')",
                      ""
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Condition_2": {
              "actions": {},
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_2": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Function Body",
                      "value": "{\"mode:\"start\", \"subscriptionId\":\"@{variables('Subscription Id')}\", \"resourceGroupName\":\"@{variables('Resource Group Name')}\", \"tagsToCheck\":\"@{variables('Tags To Check')}\"}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Tags To Check')",
                      ""
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Enter_Resource_Group_Name_(Optional)": {
              "runAfter": {
                "Enter_Subscription_Id_(Required)": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Resource Group Name",
                    "type": "String",
                    "value": ""
                  }
                ]
              }
            },
            "Enter_Subscription_Id_(Required)": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Subscription Id",
                    "type": "String",
                    "value": ""
                  }
                ]
              }
            },
            "Enter_Tags_to_Check_(Optional)": {
              "runAfter": {
                "Enter_Resource_Group_Name_(Optional)": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Tags To Check",
                    "type": "String"
                  }
                ]
              }
            },
            "Function_Body_(Do_not_edit)": {
              "runAfter": {
                "Enter_Tags_to_Check_(Optional)": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Function Body",
                    "type": "String",
                    "value": "{\"mode\":\"start\", \"subscriptionId\":\"@{variables('Subscription Id')}\"}"
                  }
                ]
              }
            },
            "StartStopVMs": {
              "runAfter": {
                "Condition_2": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": "@variables('Function Body')",
                "function": {
                  "id": "[resourceId('Microsoft.Web/sites/functions', variables('functionAppName'),variables('functionName'))]"
                },
                "method": "POST"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites/sourcecontrols', variables('functionAppName'), 'web')]"
      ]
    }
  ]
}

 